$bg-color: #faeee7;
$fg-color: #f7d6bf;
$secondary-color: #4cd3c2;
$primary-color: #0a97b0;

@mixin randomBGColor() {
  $color: random(8);

  @if $color == 1 {
    background-color: #1287a5;
  } @else if $color == 2 {
    background-color: #0a79df;
  } @else if $color == 3 {
    background-color: #487eb0;
  } @else if $color == 4 {
    background-color: #67e6dc;
  } @else if $color == 5 {
    background-color: #00cccd;
  } @else if $color == 6 {
    background-color: #bb2cd9;
  } @else if $color == 7 {
    background-color: #01cbc6;
  } @else if $color == 8 {
    background-color: #ea7773;
  }
}

.primary {
  color: $primary-color;
}
.secondary {
  color: $secondary-color;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}
.ml-10 {
  margin-left: 10px;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.title {
  font-weight: bold;
}
.center {
  margin: auto;
}
.m-auto {
  margin: auto;
}
.card-design {
  height: 140px;
  border-radius: 20px 20px 0px 0px;
  @include randomBGColor();
}
.card-content {
  border-radius: 0px 0px 20px 20px !important;
  background-color: $fg-color;
  color: $primary-color !important;
  text-transform: capitalize;
}

.card,
.card-reveal {
  background-color: $fg-color !important;
  border-radius: 20px !important;
}
.tabs {
  background-color: $bg-color !important;
  border-radius: 15px !important;
}
.scroll {
  max-height: 87vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content,
.collection.with-header,
.collection-header,
.collection-item {
  background-color: $fg-color !important;
}
.collection.with-header {
  border-radius: 24px !important;
  padding-bottom: 13px;
}
.collapsible-header {
  background-color: $bg-color !important;
}

.collection .collection-item.avatar {
  background-color: $bg-color !important;
}

.collapsible-body {
  border-bottom: 1px solid $primary-color !important;
  background-color: $fg-color !important;
}

.fg-box {
  background-color: $fg-color;
  border-radius: 30px !important;
}
.p-box {
  padding: 30px 20px 30px 20px;
}

.collapsible {
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  margin: 10px !important;
}

a {
  color: $secondary-color;
}

.collapsible-header {
  border-bottom: 1px solid $primary-color !important;
}
.sidenav {
  background-color: $fg-color !important;
}
.background {
  background-color: $primary-color !important;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: 0px 0px !important;
}
.class-box {
  min-height: 160px;
  border-radius: 20px;
  @include randomBGColor();

  h2 {
    position: relative;
    top: 30px;
    left: 30px;
  }

  p {
    position: relative;
    left: 40px;
    top: 20px;
    font-size: 1.3rem;
  }
}
.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.collection {
  border: 0px !important;
}

::-webkit-scrollbar {
  display: none;
}

/* label color */
.input-field label {
  color: $primary-color;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: $secondary-color;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $secondary-color;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
